* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.clear{
	clear: both !important;
}
.allBox {
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	background: #3A1C71;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #556270, #FF6B6B);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #556270, #FF6B6B);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	padding-top: 40px;
}

.nav-box {
	background-color: white;
	padding: 15px 10px 15px 10px;
}
.body{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.body>div{
	float: left;
}